/*Estilo da página*/
#pagina {
  margin-left: 150px;
  margin-top: 50px;
}

/* Banner */
#banner {
  width: 900px;
  height: 200px;
  border-style: solid;
  border-radius: 6px;
}
#bannerimg {
  width: 900px;
  height: 200px;
  border-radius: 6px;
}
#menu {
  width: 900px;
  height: 20px;
  border-radius: 6px;
  margin-top: 10px;
}
.footer {
  color: rgb(82, 15, 145);
}
.container {
  width: 900px;
  margin: 0 auto;
  margin-left: 150px;
  margin-top: 150px;
}

.produtos {
  width: 200px;
  height: 200px;
}

.produto {
  text-align: center;
  margin-bottom: 20px;
}

.loop-examples {
  margin-top: 20px;
}

.loop-section {
  margin-bottom: 20px;
}

.loop-section h3 {
  margin-bottom: 10px;
}

.loop-section p {
  margin: 0;
}
